{% extends "layout.html" %}
{% block body %}
<section>
    <form action="/convert" method="post">
        <label for="length">
            Enter the length to convert
            <br>
            <input type="number" name="length" id="length">
        </label>
        <br>
        <br>
        <label for="convert_from">
            Unit to convert form
            <br>
            <select name="convert_from" id="convert_from">
                <option value="celsius">Celsius</option>
                <option value="fahrenheit">Fahrenheit</option>
                <option value="kelvin">Kelvin</option>
            </select>
        </label>
        <br>
        <br>
        <label for="convert_to">
            Unit to convert to
            <br>
            <select name="convert_to" id="convert_to">
                <option value="c">Celsius</option>
                <option value="f">Fahrenheit</option>
                <option value="k">Kelvin</option>
            </select>
        </label>
        <br>
        <br>
        <input type="submit" value="convert">
    </form>
</section>
{% endblock body %}